.icici_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .icici_main_wrapper {
    max-width: 720px;
    margin-bottom: 167px;
  }
  .icici_grid_title_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 25px 0 33px 0;

    .icici_title_grid_active,
    .icici_title_grid_card {
      color: #414141;
      text-align: center;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 700;
    }
    .icici_title_grid_request {
      color: #c4c4c4;
      text-align: center;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 700;
    }
  }
  .icici_grid_card_container {
    width: 720px;
    border-radius: 10px;
    border: 0.5px solid #cfd7ed;
    background: #fff;
    box-shadow: 0px 2px 8px 0px rgba(222, 227, 242, 0.4);
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px;

    .icici_select_title {
      color: #414141;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      margin-bottom: 15px;
    }

    .icici_account_status_container {
      width: 473px;
      font-size: 14px;
      font-family: Open Sans;
      border-radius: 10px;
      border: 0.5px solid #cfd7ed;
      background: #fff;
      box-shadow: 0px 2px 8px 0px rgba(222, 227, 242, 0.4);
      display: grid;
      grid-template-columns: 289px auto;

      .icici_user_account_details {
        display: flex;
        flex-direction: column;
        padding: 20px 0 20px 20px;
        border-right: 1px solid #cfd7ed;
        gap: 25px;
        .icici_user_saving_account,
        .icici_user_cc_account {
          display: flex;
          gap: 17px;
          :first-child {
            min-width: 102px;
            font-weight: 600;
          }
        }
      }
      .icici_user_account_status {
        display: flex;
        flex-direction: column;
        gap: 49px;
        font-weight: 700;
        padding: 20px 30px 0;
      }
    }
    .icici_enter_grid_title {
      color: #414141;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      margin: 30px 0 15px;
    }
    .icici_added_grid_card {
      color: #414141;
      font-family: Open Sans;
      font-size: 12px;
      font-weight: 700;
      margin: 0 0 15px;
    }
    .icici_otp_container {
      display: flex;
      justify-content: center;
      .icici_input_otp {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        position: relative;
        top: -5px;

        .icici_enter_digits {
          color: #414141;
          font-family: Open Sans;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          margin-right: 81px;
          .icici_digits {
            font-weight: 700;
          }
        }
        .icici_input_field {
          width: 100%;
          display: flex;
          gap: 10px;

          .icici_input {
            width: 55px;
            height: 30px;
            border-radius: 7px;
            border: 1px solid #6e8ca6;
            background: #fff;
            outline: none;
            text-align: center;
            color: #414141;
            font-family: Open Sans;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
          }

          input[type="number"]::-webkit-outer-spin-button,
          input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
    }
    .icici_buttons {
      margin-top: 40px;
      .icici_send_otp_button {
        width: 131px;
        height: 39px;
        background-color: #f27b1a;
        color: white;
        border-radius: 20px;
        color: #fff;
        text-align: center;
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        border: none;
        margin-right: 30px;
        outline: none;
        cursor: pointer;
      }
      .icici_send_otp_button:disabled {
        background-color: #c4c4c4;
        cursor: not-allowed;
      }
      .icici_back_button {
        width: 131px;
        height: 39px;
        background-color: white;
        color: #f27b1a;
        border-radius: 20px;
        text-align: center;
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        border: 2px solid #f27b1a;
        outline: none;
        cursor: pointer;
      }
    }

    .icici_otp_verification {
      margin-top: 30px;
      display: none;
      .icici_generate_otp_title {
        color: #414141;
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 10px;
        // margin: 30px 0 10px 0;
      }
      .icici_generated_otp {
        ._icici_input_otp_container {
          display: flex;
          align-items: center;
        }
        .icici_generate_otp_input {
          width: 180px;
          height: 28px;
          border-radius: 7px;
          padding: 6px 0 4px 11px;
          border: 1px solid #6e8ca6;
          background: #fff;
          outline: none;
        }
        .icici_generate_otp_input[type="text"] {
          -webkit-text-security: disc; /* Safari and Chrome */
          text-security: disc; /* Standard syntax */
        }
        .icici_input_generated_ss {
          margin: 0 15px 0 10px;
        }
        .icici_registered_generated_otp {
          color: #414141;
          font-family: Open Sans;
          font-size: 12px;
          font-weight: 600;
        }
        .icici_resend_otp {
          color: #004a7f;
          font-family: Open Sans;
          font-size: 10px;
          font-weight: 700;
          text-decoration-line: underline;
          margin-left: 120px;
        }
      }
      .icici_otp_inquiry {
        color: #414141;
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        margin: 20px 119px 40px 0;
        .icici_otp_inquiry_link {
          color: #004a7f;
          font-family: Open Sans;
          font-size: 12px;
          font-weight: 700;
          line-height: 18px;
          text-decoration-line: underline;
        }
      }
      .icici_otp_buttons {
        .icici_otp_proceed {
          width: 131px;
          height: 39px;
          background-color: #f27b1a;
          color: white;
          border-radius: 20px;
          color: #fff;
          text-align: center;
          font-family: Open Sans;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          border: none;
          margin-right: 30px;
          outline: none;
          cursor: pointer;

          &:disabled {
            background-color: #c4c4c4;
            cursor: not-allowed;
          }
        }
        .icici_otp_back {
          width: 131px;
          height: 39px;
          background-color: white;
          color: #f27b1a;
          border-radius: 20px;
          text-align: center;
          font-family: Open Sans;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          border: 2px solid #f27b1a;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
}
