@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --circle-size: 30px;
  --spacing: clamp(0.25rem, 2vw, 0.5rem);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #e0dddd;
  font-family: Open Sans;
}

.icici_main_container {
  width: 960px;
  background-color: #f6f6f6;
}
.icici_main_container .icici_content_wrapper {
  max-width: 720px;
}
.icici_main_container .icici_nav {
  color: #fff;
  width: 100%;
}
.icici_main_container .icici_logo {
  display: block;
  margin: 2px 0px 11px 15px;
}
.icici_main_container .icici_border {
  height: 50px;
  background: linear-gradient(180deg, #f58f22 1.19%, #ef6712 100%);
}
.icici_main_container .icici_acc_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 22px;
  margin-bottom: 45px;
}
.icici_main_container .icici_acc_link .icici_left_link {
  color: #414141;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
}
.icici_main_container .icici_acc_link .icici_right_link {
  color: #004a7f;
  text-align: right;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-decoration-line: underline;
  text-transform: capitalize;
  cursor: pointer;
}
.icici_main_container .icici_stepper {
  position: relative;
  width: 100%;
}
.icici_main_container .icici_stepper .icici_line {
  position: relative;
  height: 1px;
  width: 91%;
  left: 3%;
  background: linear-gradient(to right, transparent 33.33%, #c4c4c4 33.33%, #c4c4c4 80.66%, transparent 66.66%);
  background-size: 20px 100%;
}
.icici_main_container .icici_stepper .icici_destination_checkbox {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -15px;
}
.icici_main_container .icici_stepper .icici_destination_checkbox:nth-child(2) {
  left: 3%;
}
.icici_main_container .icici_stepper .icici_destination_checkbox:nth-child(3) {
  left: 47.33%;
}
.icici_main_container .icici_stepper .icici_destination_checkbox:nth-child(4) {
  left: 91%;
}
.icici_main_container .icici_title_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 25px 0 13px;
}
.icici_main_container .icici_title_container .icici_title {
  color: #414141;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
}
.icici_main_container .icici_wrapper {
  border-radius: 10px;
  border: 0.5px solid #cfd7ed;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(222, 227, 242, 0.4);
}
.icici_main_container .icici_wrapper .icici_user_info .icici_note {
  color: #414141;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 20px 20px 15px;
}
.icici_main_container .icici_wrapper .icici_user_info .icici_userId {
  color: #414141;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 30px 20px;
}
.icici_main_container .icici_wrapper .icici_user_info .icici_acc_status {
  color: #414141;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin: 0 0 10px 20px;
}
.icici_main_container .icici_wrapper .icici_tbl_info {
  border-collapse: collapse;
  width: 680px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(222, 227, 242, 0.4);
  margin: 0 20px 30px 20px;
  border-bottom: none;
}
.icici_main_container .icici_wrapper .icici_tbl_info tr th {
  color: #414141;
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  height: 46px;
  padding: 8px;
  background: #ffe6d1;
  text-align: center;
  border-bottom: 1px solid #cfd7ed;
}
.icici_main_container .icici_wrapper .icici_tbl_info tr th:first-child {
  border-top-left-radius: 10px;
}
.icici_main_container .icici_wrapper .icici_tbl_info tr th:last-child {
  border-top-right-radius: 10px;
}
.icici_main_container .icici_wrapper .icici_tbl_info tr td {
  color: #4a4a4a;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.5px;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #cfd7ed;
  height: 56px;
}
.icici_main_container .icici_wrapper .icici_tbl_info tr td .icici_switch {
  position: relative;
  display: inline-block;
  width: 33.999px;
  height: 17px;
}
.icici_main_container .icici_wrapper .icici_tbl_info tr td .icici_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.icici_main_container .icici_wrapper .icici_tbl_info tr td .icici_toggle_status {
  position: absolute;
  margin: 2px 0 0 10px;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.5px;
}
.icici_main_container .icici_wrapper .icici_tbl_info tr td .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cad4da;
  transition: 0.4s;
}
.icici_main_container .icici_wrapper .icici_tbl_info tr td .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
}
.icici_main_container .icici_wrapper .icici_tbl_info tr td input:checked + .slider {
  background-color: #f27b1a;
}
.icici_main_container .icici_wrapper .icici_tbl_info tr td input:checked + .slider:before {
  transform: translateX(16px);
}
.icici_main_container .icici_wrapper .icici_tbl_info tr td .slider.round {
  border-radius: 34px;
}
.icici_main_container .icici_wrapper .icici_tbl_info tr td .slider.round:before {
  border-radius: 50%;
}
.icici_main_container .icici_wrapper .icici_tbl_info tr:first-child th,
.icici_main_container .icici_wrapper .icici_tbl_info tr:last-child td {
  border-bottom: none;
}
.icici_main_container .icici_wrapper .icici_tbl_info tr:first-child th {
  height: 46px;
}
.icici_main_container .icici_wrapper .icici_acc_status {
  color: #414141;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin: 0 0 10px 20px;
}
.icici_main_container .icici_wrapper .icici_query_note {
  color: #414141;
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 40px 20px;
}
.icici_main_container .icici_wrapper .icici_query_note .icici_query_link {
  color: #176abe;
  font-weight: 600;
  text-decoration-line: underline;
  cursor: pointer;
}
.icici_main_container .icici_wrapper .icici_terms_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 0 15px 0 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.icici_main_container .icici_wrapper .icici_terms_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.icici_main_container .icici_wrapper .icici_terms_checkbox .icici_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  border: 0.75px solid #6e8ca6;
}
.icici_main_container .icici_wrapper .icici_terms_checkbox .icici_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.icici_main_container .icici_wrapper .icici_terms_checkbox input:checked ~ .icici_checkmark {
  background-color: #f27b1a;
  border: 0.75px solid #f27b1a;
}
.icici_main_container .icici_wrapper .icici_terms_checkbox input:checked ~ .icici_checkmark:after {
  display: block;
}
.icici_main_container .icici_wrapper .icici_terms_checkbox .icici_checkmark:after {
  left: 3px;
  top: 4px;
  width: 9px;
  height: 7px;
  background-image: url("/images/icici_tick.svg");
}
.icici_main_container .icici_wrapper .icici_terms_cond {
  color: #414141;
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  margin: 0 62px 11px 47px;
  cursor: pointer;
}
.icici_main_container .icici_wrapper .icici_terms_cond .icici_link_term_condition {
  color: #176abe;
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  text-decoration-line: underline;
  cursor: pointer;
}
.icici_main_container .icici_wrapper .icici_terms_cond2 {
  color: #414141;
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 400;
  height: 16px;
  line-height: 16px;
  margin: 0 0px 30px 47px;
  cursor: pointer;
}
.icici_main_container .icici_wrapper .icici_proceed_btn {
  width: 131px;
  height: 39px;
  margin: 0 0 10px 20px;
  border-radius: 20px;
  background: #f27b1a;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  outline: none;
  border: 0;
  cursor: pointer;
}
.icici_main_container .icici_wrapper .icici_proceed_btn:disabled {
  background-color: #c4c4c4;
  cursor: not-allowed;
}

.icici_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icici_main_container .icici_main_wrapper {
  max-width: 720px;
}
.icici_main_container .icici_title_container_2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 25px 0 33px 0;
}
.icici_main_container .icici_title_container_2 .icici_title {
  color: #414141;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
}
.icici_main_container .icici_grid_card_container {
  width: 720px;
  border-radius: 10px;
  border: 0.5px solid #cfd7ed;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(222, 227, 242, 0.4);
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 40px;
}
.icici_main_container .icici_grid_card_container .icici_select_title {
  color: #414141;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 15px;
}
.icici_main_container .icici_grid_card_container .icici_account_status_container {
  width: 473px;
  font-size: 14px;
  font-family: Open Sans;
  border-radius: 10px;
  border: 0.5px solid #cfd7ed;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(222, 227, 242, 0.4);
  display: grid;
  grid-template-columns: 289px auto;
}
.icici_main_container .icici_grid_card_container .icici_account_status_container .icici_user_account_details {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 20px;
  border-right: 1px solid #cfd7ed;
  gap: 25px;
}
.icici_main_container .icici_grid_card_container .icici_account_status_container .icici_user_account_details .icici_user_saving_account,
.icici_main_container .icici_grid_card_container .icici_account_status_container .icici_user_account_details .icici_user_cc_account {
  display: flex;
  gap: 17px;
}
.icici_main_container .icici_grid_card_container .icici_account_status_container .icici_user_account_details .icici_user_saving_account :first-child,
.icici_main_container .icici_grid_card_container .icici_account_status_container .icici_user_account_details .icici_user_cc_account :first-child {
  min-width: 102px;
  font-weight: 600;
}
.icici_main_container .icici_grid_card_container .icici_account_status_container .icici_user_account_status {
  display: flex;
  flex-direction: column;
  gap: 49px;
  font-weight: 700;
  padding: 20px 30px 0;
}
.icici_main_container .icici_grid_card_container .icici_enter_grid_title {
  color: #414141;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin: 30px 0 15px;
}
.icici_main_container .icici_grid_card_container .icici_added_grid_card {
  color: #414141;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 15px;
}
.icici_main_container .icici_grid_card_container .icici_otp_container {
  display: flex;
  justify-content: center;
}
.icici_main_container .icici_grid_card_container .icici_otp_container .icici_input_otp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  position: relative;
  top: -5px;
}
.icici_main_container .icici_grid_card_container .icici_otp_container .icici_input_otp .icici_enter_digits {
  color: #414141;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 81px;
}
.icici_main_container .icici_grid_card_container .icici_otp_container .icici_input_otp .icici_enter_digits .icici_digits {
  font-weight: 700;
}
.icici_main_container .icici_grid_card_container .icici_otp_container .icici_input_otp .icici_input_field {
  width: 100%;
  display: flex;
  gap: 10px;
}
.icici_main_container .icici_grid_card_container .icici_otp_container .icici_input_otp .icici_input_field .icici_input {
  width: 55px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid #6e8ca6;
  background: #fff;
  outline: none;
  text-align: center;
  color: #414141;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.icici_main_container .icici_grid_card_container .icici_otp_container .icici_input_otp .icici_input_field input[type=number]::-webkit-outer-spin-button,
.icici_main_container .icici_grid_card_container .icici_otp_container .icici_input_otp .icici_input_field input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.icici_main_container .icici_grid_card_container .icici_buttons {
  margin-top: 40px;
}
.icici_main_container .icici_grid_card_container .icici_buttons .icici_send_otp_button {
  width: 131px;
  height: 39px;
  background-color: #f27b1a;
  color: white;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: none;
  margin-right: 30px;
}
.icici_main_container .icici_grid_card_container .icici_buttons .icici_send_otp_button:disabled {
  background-color: #c4c4c4;
  cursor: not-allowed;
}
.icici_main_container .icici_grid_card_container .icici_buttons .icici_back_button {
  width: 131px;
  height: 39px;
  background-color: white;
  color: #f27b1a;
  border-radius: 20px;
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 2px solid #f27b1a;
}/*# sourceMappingURL=index.css.map */