@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

$background-color_1: #cad4da;
$background-color_2: white;
$background-color_3: orange;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #e0dddd;
  font-family: Open Sans;
}

.icici_main_container {
  width: 960px;
  background-color: #f6f6f6;

  .icici_nav {
    color: #fff;
  }

  .icici_logo {
    display: block;
    margin: 2px 0px 11px 15px;
  }

  .icici_border {
    height: 50px;
    background: linear-gradient(180deg, #f58f22 1.19%, #ef6712 100%);
  }

  .icici_acc_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .icici_left_link {
      order: 1;
      color: #414141;
      font-family: Open Sans;
      font-size: 18px;
      font-weight: 700;
      margin: 22px 0 30px 140px;
    }
    .icici_right_link {
      order: 2;
      margin: 31px 120px 28px 0;
      color: #004a7f;
      text-align: right;
      font-family: Open Sans;
      font-size: 12px;
      font-weight: 700;
      line-height: 18px;
      text-decoration-line: underline;
      text-transform: capitalize;
    }
  }

  .icici_stepper {
    position: relative;
    width: 960px;
    margin: 0 0 10px 147px;
    .icici_line {
      position: relative;
      height: 2px;
      width: 66.66%;
      background: linear-gradient(
        to right,
        transparent 33.33%,
        #c4c4c4 33.33%,
        #c4c4c4 66.66%,
        transparent 66.66%
      );
      background-size: 20px 100%;
    }
    .icici_destination_checkbox {
      width: 20px;
      height: 20px;
      position: absolute;
      top: -13px;
    }
    .icici_destination_checkbox:nth-child(2) {
      left: 33.33%;
    }
    .icici_destination_checkbox:nth-child(3) {
      left: 66.66%;
    }
  }

  .icici_title_container {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .icici_title_1 {
      color: #414141;
      text-align: center;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 700;
      margin: 10px 0 16px 120px;
    }
    .icici_title_2 {
      color: #414141;
      text-align: center;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 700;
      margin-top: 10px;
    }
    .icici_title_3 {
      color: #414141;
      text-align: center;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 700;
      margin: 10px 120px 16px 0;
    }
  }
  .icici_wrapper {
    width: 720px;
    border-radius: 10px;
    border: 0.5px solid #cfd7ed;
    margin: 0 120px 0 120px;
    background: #fff;
    box-shadow: 0px 2px 8px 0px rgba(222, 227, 242, 0.4);

    .icici_user_info {
      .icici_note {
        color: #414141;
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 20px 20px 15px;
      }
      .icici_userId {
        color: #414141;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        margin: 0 0 30px 20px;
      }
      .icici_acc_status {
        color: #414141;
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        margin: 0 0 10px 20px;
      }
    }
    .icici_tbl_info {
      border-collapse: collapse;
      width: 680px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 2px 8px 0px rgba(222, 227, 242, 0.4);
      margin: 0 20px 30px 20px;
      border-bottom: none;
      tr {
        th {
          color: #414141;
          text-align: center;
          font-family: Open Sans;
          font-size: 12px;
          font-weight: 700;
          height: 46px;
          padding: 8px;
          background: #ffe6d1;
          text-align: center;
          border-bottom: 1px solid #cfd7ed;
        }

        td {
          color: #4a4a4a;
          font-family: Open Sans;
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
          letter-spacing: 0.5px;
          padding: 8px;
          text-align: center;
          border-bottom: 1px solid #cfd7ed;
          height: 56px;

          .icici_switch {
            position: relative;
            display: inline-block;
            width: 33.999px;
            height: 17px;
            input {
              opacity: 0;
              width: 0;
              height: 0;
            }
          }
          .icici_toggle_status {
            position: absolute;
            margin: 2px 0 0 10px;
            text-align: center;
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0.5px;
          }
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $background-color_1;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            &:before {
              position: absolute;
              content: "";
              height: 15px;
              width: 15px;
              left: 2px;
              bottom: 1px;
              background-color: $background-color_2;
              -webkit-transition: 0.4s;
              transition: 0.4s;
            }
          }
          input {
            &:checked {
              + {
                .slider {
                  background-color: $background-color_3;
                  &:before {
                    -webkit-transform: translateX(15px);
                    -ms-transform: translateX(15px);
                    transform: translateX(15px);
                  }
                }
              }
            }
          }

          .slider.round {
            border-radius: 34px;
            &:before {
              border-radius: 50%;
            }
          }
        }
      }
      tr:first-child th,
      tr:last-child td {
        border-bottom: none;
      }
    }

    .icici_acc_status {
      color: #414141;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      margin: 0 0 10px 20px;
    }

    .icici_proceed_btn {
      width: 131px;
      height: 39px;
      margin: 0 0 10px 20px;
      border-radius: 20px;
      background: #f27b1a;
      color: #fff;
      text-align: center;
      font-family: Open Sans;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      outline: none;
      border: 0;
    }
    .icici_query_note {
      color: #414141;
      font-family: Open Sans;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      margin: 0 0 40px 20px;

      .icici_query_link {
        color: #176abe;
        font-weight: 600;
        text-decoration-line: underline;
      }
    }
    .icici_terms_checkbox {
      display: block;
      position: relative;
      padding-left: 35px;
      margin: 0 15px 0 20px;
      cursor: pointer;
      font-size: 22px;
      user-select: none;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .icici_checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 16.369px;
        height: 16.369px;
        border-radius: 5px;
        border: 0.75px solid #6e8ca6;
      }
      .icici_checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
    }
    .icici_terms_cond {
      color: #414141;
      font-family: Open Sans;
      font-size: 11px;
      font-weight: 400;
      text-align: left;
      width: 615px;
      line-height: 16px;
      margin: 0 0px 11px 47px;
      .icici_link_term_condition {
        color: #176abe;
        font-family: Open Sans;
        font-size: 11px;
        font-weight: 600;
        line-height: 16px;
        text-decoration-line: underline;
      }
    }
    .icici_terms_cond2 {
      color: #414141;
      font-family: Open Sans;
      font-size: 11px;
      font-weight: 400;
      text-align: left;
      width: 615px;
      height: 15.639px;
      line-height: 16px;
      margin: 0 0px 30.3px 47px;
    }
    .icici_terms_checkbox input:checked ~ .icici_checkmark {
      background-color: #f27b1a;
      border: 0.75px solid #f27b1a;
    }
    .icici_terms_checkbox input:checked ~ .icici_checkmark:after {
      display: block;
    }
    .icici_terms_checkbox .icici_checkmark:after {
      left: 6px;
      top: 2px;
      width: 2px;
      height: 6px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
